[Unit]
Description=Apply machine-specific configuration
ConditionPathExists=!/var/lib/%N.stamp
[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/bin/cp -dR -t / /sysroot/config/.
ExecStart=/bin/chown -R core:core /var/home/core
ExecStart=/bin/chmod -R u=rwX,go= /var/home/core/.ssh
ExecStart=/bin/chmod -R u=rwX,go= /var/roothome/.ssh
ExecStart=/bin/chmod -R u=rwX,go= /etc/NetworkManager/system-connections
ExecStart=/bin/touch /var/lib/%N.stamp
[Install]
WantedBy=multi-user.target
